---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
 <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/7a5f6282-fcac-4f30-ac85-9057b7d137d8/Q2a7VNE58W.lottie" speed="1" style="width: 70px; height: 70px" mode="forward" loop autoplay></dotlottie-wc>
</span>
