---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
 <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/16632886-b299-45a3-9cf3-0f9d667c0eb9/vrcFFvY5yV.lottie" speed="1" style="width: 56px; height: 56px" mode="forward" loop autoplay></dotlottie-wc>
</span>
